= form_for @employee do |f|
  .form-row
    .col-6
      .form-group
        = f.label :first_name
        = f.text_field :first_name, placeholder: true, class: 'form-control'
    .col-6
      .form-group
        = f.label :last_name
        = f.text_field :last_name, placeholder: true, class: 'form-control'
  .form-row
    .col
      .form-group
        = f.label :email
        = f.text_field :email, placeholder: true, class: 'form-control'
    - if able_change_role?
      .col-6
        .form-group
          = f.label :status
          = f.select :status, Employee.statuses.keys.map { |o| [o.humanize, o] }, { include_blank: true }, class: 'form-control'
  .form-row
    .col-12
      .form-group
        = f.label :upwork
        = f.text_field :upwork, placeholder: true, class: 'form-control'
  .form-row
    .col-6
      .form-group
        = f.label 'Main Skill ?', title: 'Can be any string. Represents developer main direction: FullStack Ruby\Rails.'
        = f.text_field :main_skill, placeholder: true, class: 'form-control'
    .col-6
      .form-group
        = f.label :phone
        = f.text_field :phone, placeholder: true, class: 'form-control'
  .form-row
    .col-6
      .form-group
        = f.label :office
        = f.select :office, Employee.offices.keys.map { |o| [o.humanize, o] }, {}, class: 'form-control'
    .col-6
      .form-group
        = f.label :skype
        = f.text_field :skype, placeholder: true, class: 'form-control'
  .form-row
    - if current_employee.admin?
      .col-6
        .form-group
          = f.label :role
          = f.select :role, Employee.roles.keys.map { |r| [r.humanize, r] }, {}, class: 'form-control'
    - if able_change_role?
      .col
        .form-group
          = f.label :department
          = f.select :department, Employee.departments.keys.map { |d| [d.humanize, d] }, {}, class: 'form-control'

  - if (current_employee.admin? || current_employee.manager?) && (@employee.developer? || @employee.team_lead?)
    .form-row
      .col-6
        .form-group
          = f.label 'Managers'
          = f.select :manager_ids, Employee.managers.map{ |m| [m.name, m.id] }, {}, { class: 'select2-field', id: 'managersSelector', multiple: :multiple, class: 'form-control'}
  - elsif (current_employee.admin? || current_employee.manager?) && @employee.managers?
    .form-row
      .col-6
        .form-group
          = f.label 'Developers'
          = f.select :developer_ids, Employee.developer.map{ |m| [m.name, m.id] }, {}, { class: 'select2-field', id: 'developersSelector', multiple: :multiple, class: 'form-control'}
  .form-group
    .custom-file
      = f.label :image, class: 'custom-file-label'
      = f.fields_for :image do |image_fields|
        = image_fields.file_field :image, class: 'custom-file-input'
  .form-group
    = f.text_area :description, placeholder: true, cols: 12, rows: 5, class: 'form-control'
  .form-group
    %btn.btn.btn-outline-success#addAdditionalField Add additional field
  .form-group
    = f.fields_for :additional, multiple: :multiple do
      #additionalFields
        - @employee.additional&.each do |key, value|
          .form-row.with-remove
            .col-3
              .form-group
                %input.form-control{onchange: 'change(this)', placeholder: 'Key', type: 'text', value: key}
            .col-8
              .form-group
                %textarea.form-control.value{name: "employee[additional][#{key}]", placeholder: 'Value', type: 'text', cols: 2}
                  = value
            .col-1
              .form-group
                %i.fa.fa-times.text-danger.pointable{onclick: 'remove(this)'}
  .form-group
    = f.label 'Skills'
    = f.select(:skill_ids, @skills.pluck(:name, :id), {}, {class: 'select2-field', id: 'skillsSelector', multiple: :multiple, placeholder: 'Skills'})
  .form-group
    = f.submit class: 'btn btn-success'

