$blue: #4285F4;
$php: $blue;
$red: #EA4335;
$ruby: $red;
$orange: #FBBC05;
$js: $orange;
$green: #34A853;
$light-grey: #f8f9fa;
$grey: #8A8A8A;
$dark-grey: #8a8a8a;

$skill-0-20: $red;
$skill-20-40: #B95E3D;
$skill-40-60: #927444;
$skill-60-80: #5D914C;
$skill-80-100: $green;