= form_for skill do |f|
  .form-group
    = f.hidden_field :employee_id, value: current_employee.id
    = f.label :name
    = f.text_field :name, placeholder: true, class: 'form-control', required: true
  .form-group
    = f.select :skill_type, Skill.skill_types.map { |k, v| [k.humanize, k] }, { prompt: 'Skill type' }, class: 'form-control', required: true
  .form-group.float-right
    = f.submit class: 'btn btn-success'
