= form_for(project, url: path ) do |f|
  .form-row
    .form-group
      = f.hidden_field :employee_id, value: employee.id
  .form-row
    .col-12
      .form-group
        = f.text_field :name, class: 'form-control', placeholder: 'Name'
  .form-row
    .col-12
      .form-group
        = f.text_area :description, class: 'form-control', placeholder: 'Description'
  .form-row
    .col-12
      .form-group
        = f.text_field :client, class: 'form-control', placeholder: 'Client name'
  .form-row
    .col-6
      .form-group
        = f.text_field :link, class: 'form-control', placeholder: 'Live URL'
    .col-6
      .form-group
        = f.text_field :repository, class: 'form-control', placeholder: 'Repository URL'
  .form-row
    .col-2
      .form-group
        = f.label 'Status'
      .form-group
        = f.check_box :active, id: :checkbox_active
        = f.label 'Active', for: :checkbox_active
    .col
      .form-group
        = f.label 'Manager'
        = f.select :manager_id, Employee.managers.map { |m| [m.name, m.id] }, { include_blank: true }, { class: 'form-control', include_blank: 'Manager' }
  .form-row
    .col-12
      .form-group
        = f.label 'Skills'
        = f.select(:skill_ids, @skills.pluck(:name, :id), {}, {class: 'select2-field', multiple: :multiple, placeholder: 'Skills'})
  .form-row
    .col-12
      .form-group
        .custom-file
          = f.label :image, class: 'custom-file-label'
          = f.fields_for :image do |image_fields|
            = image_fields.file_field :image, class: 'custom-file-input'
  .form-row
    .col-12
      .form-row
        .col-6
          .form-group
            = f.label 'Start date'
            = f.date_field :start_date, class: 'form-control'
        .col-6
          .form-group
            = f.label 'End date'
            = f.date_field :end_date, class: 'form-control'
  .form-row.float-right
    .col-12
      .form-group
        = f.submit class: 'btn btn-success'