.row
  .col-4
    = image_tag project.avatar, class: 'img-fluid'
  .col-8
    - able_edit do
      %span.link.pointable{ 'data-target': "#editProjectAtEmployee_#{project.id}", 'data-toggle': 'modal' }
        Edit
      = render 'layouts/modal', { modal_id: "editProjectAtEmployee_#{project.id}", modal_title: 'Edit employee project' } do
        .modal-body
          - project.image = Image.new unless project.image.present?
          = render 'projects/form', project: project, employee: @employee, path: employee_project_path(@employee, project)
      |
      = link_to 'Delete', employee_project_path(project.id, employee_id: project.employee_id), method: :delete, data: {confirm: 'Are you sure?'}

    %h3
      = project.name
      - if project.client.present?
        .float-right
          %small
            Client:
            = project.client

    - if project.manager && (@employee.developer? || @employee.team_lead?)
      Manager:
      = link_to project.manager&.name, employee_path(project.manager)
    - if project.developer && @employee.manager?
      Developer:
      = link_to project.developer&.name, employee_path(project.developer)
    %br= link_to project&.link, project&.link, target: :blank
    %br= link_to project&.repository, project&.repository, target: :blank
    %br
    - if project.start_date && project.end_date
      %i= "#{ project.start_date.strftime('%d/%m/%Y') } - #{ project.end_date.strftime('%d/%m/%Y') }"
    %br
    = raw project.description

.row
  .col-12
    %p
    = project.skills.pluck(:name).join('/ ')