.employees {
  padding-top: 25px;

  .size-12-px {
    width: 12px;
    height: 12px;
    margin: 0 5px;
  }

  .legend p {
    margin: 0;
  }

  .skills-selector label {
    margin-bottom: 0;
  }

  // used for a mark at the skills selector

  .legend-detail-0 {
    background-color: black;
  }

  @for $i from 1 through 20 {
    .legend-detail-#{$i} { background-color: $skill-0-20 }
  }

  @for $i from 21 through 40 {
    .legend-detail-#{$i} { background-color: $skill-20-40; }
  }

  @for $i from 41 through 60 {
    .legend-detail-#{$i} { background-color: $skill-40-60; }
  }

  @for $i from 61 through 80 {
    .legend-detail-#{$i} { background-color: $skill-60-80 }
  }

  @for $i from 81 through 100 {
    .legend-detail-#{$i} { background-color: $skill-80-100 }
  }

  // used for a mark skills

  @for $i from 1 through 20 {
    .skill-#{$i} { color: $skill-0-20 }
  }

  @for $i from 21 through 40 {
    .skill-#{$i} { color: $skill-20-40; }
  }

  @for $i from 41 through 60 {
    .skill-#{$i} { color: $skill-40-60; }
  }

  @for $i from 61 through 80 {
    .skill-#{$i} { color: $skill-60-80 }
  }

  @for $i from 81 through 100 {
    .skill-#{$i} { color: $skill-80-100 }
  }

  .experience-level-icon {
    max-height: 100px;
    min-height: 100px;
    max-width: 50px;
    min-width: 50px;
  }

  .section {
    position: relative;
    border-right: 1px solid $dark-grey;
    height: calc(90vh - 50px);
    overflow: auto;
    @include transition(0.2s, ease-in-out);

    &.last {
      border-right: none;
      padding-right: 50px;
    }

    &.list {
      ul {
        list-style: none;
      }
    }
  }

  .skill {
    display: inline-block;
    border-radius: 30%;
    padding: 10px 15px;
    border: 1px solid $grey;
    @include transition(0.2s, ease-in-out);

    &:hover {
      opacity: 1;
      @include transition(0.2s, ease-in-out);
    }
  }

  .free {
    @extend .text-success
  }

  .partially_busy {
    @extend .text-warning
  }

  .busy {
    @extend .text-danger
  }

  .with-remove {
    line-height: 30px;
  }
}
